<!-- This launch file loads rosbags and makes an octomap file -->

<launch>

<!-- <param name="/use_sim_time" value="true"/> -->

<!-- paths to the rosbag files -->
<arg name="path" default="/home/zhuge/datasets/Radar/"/>

<arg name = "file_0" default = "ntu_loop3_car/ntu-car-day-loop3_2022-06-03_0.bag"/>
<arg name = "file_1" default = "ntu_loop3_car/ntu-car-day-loop3_2022-06-03_1.bag"/>
<arg name = "file_2" default = "ntu_loop3_car/ntu-car-day-loop3_2022-06-03_2.bag"/>

<!-- Plays the dataset. WARNING: changing 'rate' will cause interactions with the demo.  -->
<!--  /radar_pcl /radar_trk pause     /ublox/fix-->
<node pkg="rosbag" type="play" name="player" 
    args = "--clock --rate=2 --duration=10000
    $(arg path)$(arg file_0)
    $(arg path)$(arg file_1)
    $(arg path)$(arg file_2)
    --topic /radar_enhanced_pcl /rgb_cam/image_raw/compressed /barometer/filtered /vectornav/imu
    ">
</node>

</launch>
